.contenedor {
	max-width: 1000px;
	margin: auto;
	border: 1px solid blue;
	overflow: auto;
	font-family: 'Open Sans', sans-serif;
}

.caja {
	display: flex;
	justify-content: space-between;
	margin: 3%;
	align-items: center;
}

.menu {
	box-sizing: border-box;
}

a {
 text-decoration: none;
}

a.texto {
	padding-right: 30%;
	color: black;
	font-weight: bold;
	font-size: 18px;
}

a.texto:hover {
	background: black;
	color: white;
}

.imagen {
	height: 450px;
	display: flex;
	flex-direction: column;
	align-items: left;
	align-content: center;
	padding-top: 20%;
	padding-left: 18%;
	overflow: auto;
	font-family: 'Raleway', sans-serif;
	color: white;
	background-image: url("C:/Users/Santi/Documents/CODERHOUSE/TP4/Images/indexbanner-bg3.jpg");
	background-position: center;
}

.imagen h2 {
	font-size: 32px;
	font-weight: bold;
}

.imagen p {
	padding-top: 10%;
	font-size: 18px;
}

.description {
	position: relative;
    top: -30px;
 }

.buscador {
	display: flex;
	align-content: center;
	justify-content: center;
}

.barra {
	color: white;
	width: 80%;
	height: 50px;
	font-size: 18px;
	letter-spacing: 2px;
}

.boton {
	color: white;
	background: #2EAFFA;
	height: 54px;
	width: 10%;
}

.container1, .container2, .container3 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px;
}

.info {
	display: flex;
}

.info .container1 {
	    text-align: center;
	    margin-right: 0;
}

.info .container2 {
	    text-align: center;
	    margin-left: 0;
}

.container1 h2, .container2 h2 {
    font-size: 1.2em;
    margin: 5%;
    font-weight: bold;
}

.primero {
	margin-left: 6%;
}

.dots {
	align-self: flex-start;
    margin-top: 10%;
}

.principal {
	text-align: center;
	width: 100%;
}

.principal h1 {
	padding-top: 10%;
	font-weight: bold;
	font-size: 2em; 
	margin-bottom: 5%;
}

.principal h4 {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 10%;
}

.principal h5 {
	margin-bottom: 10%;
}

.lista2 li, .lista3 li {
	width: 100%;
}

.caja1 {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 10%;
}

.lista .columnas {
	display: flex;
	flex-direction: column;
    justify-content: space-between;
}

.caja1 p.izquierda {
	text-align: right;
	margin-top: -5px;
}

.caja1 p.derecha {
	text-align: left;
	margin-top: -5px;
}
.iconosizquierda {
	order: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: initial;
	margin-right: 5%;
}

.textoizq {
	text-align: right;
	margin-right: 3%;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
}

.iconosderecha {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: initial;
	margin-left: 5%;
}

.textoder {
	order: 2;
	text-align: left;
	margin-left: 3%;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
}

.widleft {
	margin-top: 70%;
}

.ico {
	margin-bottom: 30%;
}

.widright {
	margin-top: 70%;
}


.container3 .lista {
	margin-top: -15%;
}

.informacion {
	margin: -12% 0 5% 0;
}

.imagenpricing {
	margin-top: -50px;
	height: 576px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	background-image: url("C:/Users/Santi/Documents/CODERHOUSE/TP4/Images/pricing-bg.jpg");
	background-position: center;
}
.imagenpricing h2 {
	padding-top: 25%;
	font-weight: bold;
	font-size: 1.5em
}

.imagenpricing h5 {
	padding-top: 5%;
}

.planes {
	max-width: 120px;
	height: 30px;
	background: #2EAFFA;
	color: white;
	border-radius: 10%;
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;
}

.dots1 {
	margin-top: 10%;
}

.cuenta {
	display: flex;
    text-align: -webkit-center;
    margin-top: -15%;
}

.cuenta .lista2, .cuenta .lista3 {
	display: flex;
	width: 80%;
	justify-content: center;
}

.rectangulo {
	width: 90%;
	height: 400px;
	background: white;
    border: 1px solid grey;
    box-shadow: 3px 3px 3px 3px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}

.box {
    border-bottom: 1px solid grey;
    max-width: 150px;
    padding-bottom: 10px;
    padding-top: 50px;
    text-align: center;
}

.box h4.mayuscula {
	text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10%;
}

.box p {
	font-size: 36px;
    font-weight: bold;
    position: relative;
}

.box span.mount {
	font-size: 8px;
	font-weight: normal;
	display: block;
}

.box span.pesos {
	font-size: 0.5em;
	position: absolute;
    top: 5px;
    left: 0;
}

.box span.decimales {
	font-size: 0.5em;
	position: absolute;
	top: 5px;
}
td.texto {
	font-size: 12px;
	text-align: left;
	padding-right: 8%;
}

.celeste {
	font-size: 12px;
	text-align: right;
	color: lightblue;
}

.amarillo {
	font-size: 12px;
	text-align: right;	
	color: yellow;
}

.marron {
	font-size: 12px;
	text-align: right;
	color: brown;
}

.rojo {
	font-size: 12px;
	text-align: right;
	color: red;
}

footer {
	background: #072a40;
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

#oscuro {
	background: #000f1f;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

footer nav {
	padding: 2%;
}

footer #oscuro ul.lista1 li a {
	color: white;
	padding-right: 20%;
}

footer ul.lista1 {
	display: flex;
}

footer h3 {
		font-size: 1.2em;
	    padding: 50px 0 40px 0;
}
footer h5 {
	padding-left: 2%;
}

footer nav a span {
	color: white;
}

span.numeros {
	color: blue;
	font-size: 1.5em;
}


@keyframes agranda{
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.25);
	}
}

.iconos:hover {
	animation-name: agranda;
	animation-duration: 1.3s;
	animation-fill-mode: forwards;
	transition-timing-function: ease-in-out;
	animation-delay: 0.1s;
}

@media screen and (max-width: 992px) {

	.container {
		justify-content: space-around;
	}

	.boton {
		width: 15%;
	}

	.dots {
		display: none;
	}

	.info {
		flex-direction: column;
	}

	.primero {
		margin-left: 0;
	}

	.container1 {
		margin-left: 0;
	}

	.cuenta {
		   flex-direction: column;
	}

	.cuenta .lista2 , .cuenta .lista3 {
		margin-top: 2%;
	}

	#oscuro {
	 	flex-direction: column;
	}

	.lista1 a span {
		display: none;
	}

	footer h5 {
    	padding: 10% 0 5% 0;
	}

	footer nav {
    	padding: 0 0 10% 0;
    }

    footer #oscuro ul.lista1 li a {
    	padding: 0 20%;
    }
}

@media screen and (max-width: 776px) {
	header .caja {
		flex-direction: column;
		text-align: center;
	}

	nav.menu .caja li {
		padding: 10%;
	}

	.container3 {
		flex-direction: column;
	}

	.dots2, .dots1 {
		display: none;
	}

	.imagen {
		display: none;
	}

	.description {
		position: inherit;
	}

	.widleft, .widright {
		display: none;
	}

	.textoizq, .caja1 p.izquierda {
		text-align: left;
	}

	.iconosizquierda {
		order: 0;
	}

	.iphone {
		padding: 10% 0;
		margin-bottom: 10%;
	}

	.textoizq, .textoder {
		margin-top: 3%;
	}

	.informacion, .imagenpricing {
		margin-top: 2%;
		background-size: 120%;
		height: inherit;
	}

	.imagenpricing h2 {
		padding-top: 5%;
		font-size: 24px;
	}

	.cuenta .lista2 {
    	margin-top: 20%;
    }

    .imagenpricing h5 {
	    padding: 5% 0;
	    font-size: 16px;
	}
}

@media screen and (max-width: 590px) {

	.boton .ion-search {
		display: none;
	}

	.barra {
		font-size: 14px;
	}

	.container1, .container2 {
		flex-direction: column;
		margin: 0;
	}

	.iconos {
		margin-top: 10%;
	}

	.principal h5 {
		font-size: 14px;
	}

	.imagenpricing h2 {
    	padding-top: 13%;
    }

    .imagenpricing h5 {
    	font-size: 14px;
    	padding-bottom: 0;
    }

}
